@{
    ViewData["Title"] = "Home Page";
}

<div class="container-fluid">
    <h1>Calc Service Demonstration</h1>
    <ul>
        <li><a href="/Home/PassUsingModel">Using Model Calc</a></li>
        <li><a href="/Home/PassUsingViewData">Using ViewData Calc</a></li>
        <li><a href="/Home/PassUsingViewBag">Using ViewBag Calc</a></li>
        <li><a href="/Home/AccessServiceDirectly">Using Service Injection Calc</a></li>
    </ul>
</div>
